<div class="col col-4 col-d-6 col-t-12">
    <div class="widget widget-tags">
      <div class="widget__head">
        <h3 class="widget__title">Site links</h3>
      </div>
  
      <div class="tag__cloud">
        
            <a href="/speaker-profile">Speaker Profile</a>
            <a href="/publications">Publications</a>
            <a href="/community">Community</a>
            <a href="/workspace">Workspace</a>
            <a href="/homelab">Homelab</a>
            <a href="/videos">Videos</a>

        
      </div>
    </div>
  </div>

  