{{ define "main" }}

{{ if .Params.image }}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="page-image">
        <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- begin page -->
<div class="container animate">

  <div class="page__info">
    <h1 class="page__title">{{ .Title }}</h1>
  </div>

  <article class="page">
    <div class="page__content">
      <div class="form-box">
        <div class="contact-head">
          {{ if .Content }}
          <p class="page-description">{{ .Content }}</p>
          {{ end }}
        </div>

        <!--
        <form class="form"
          action="{{ if .Site.Params.contact.email }}https://formspree.io/f/{{.Site.Params.contact.email}}{{ else }}#{{ end }}"
          method="POST">
          <div class="form__group">
            <label class="form__label screen-reader-text" for="form-name">Your Name</label>
            <input class="form__input" id="form-name" type="text" name="name" placeholder="Name" required>
          </div>
          <div class="form__group">
            <label class="form__label screen-reader-text" for="form-email">Your Email</label>
            <input class="form__input" id="form-email" type="email" name="_replyto" placeholder="Email" required>
          </div>
          <div class="form__group">
            <label class="form__label screen-reader-text" for="form-text">Your Message</label>
            <textarea class="form__input" id="form-text" name="text" rows="10" placeholder="Message" required></textarea>
          </div>
          <div class="form__group">
            <button class="button" type="submit">Send Message</button>
          </div>
        </form>
        -->
      </div>
    </div>
  </article>

</div>
<!-- end page -->

{{ end }}