{{ define "main" }}

{{ if or (eq .Section "post") (eq .Section "posts") }}

{{ if .Params.image }}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="post-image">
        <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- begin post -->
<div class="container amimate">

  <div class="post__info">
    <h1 class="post__title">{{ .Title }}</h1>
    <div class="post__meta">
      <time class="post__date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2 January 2006" }}</time> – <span class="post__minutes">{{ .ReadingTime }} min read</span>
    </div>
  </div>

  <article class="post">

    <div class="post__content">
      {{ .Content }}
    </div>

    <div class="post__bottom">
      {{ partial "share-buttons.html" . }}

      {{ if .Params.tags }}
      <div class="post__tags">
        {{ range ($.GetTerms "tags") }}
        <a href="{{ .Permalink }}" class="post__tag">{{ .LinkTitle }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>

    <div class="post-author">
      <a href="/about/" class="post-author__image" aria-label="{{.Site.Params.author.name}}">
        <img src="{{ .Site.Params.author.avatar | absURL }}" alt="{{.Site.Params.author.name}}">
      </a>
      <div class="post-author__info">
        <h2 class="post-author__name"><a href="/about/">{{.Site.Params.author.name}}</a></h2>
        <p class="post-author__bio">{{.Site.Params.author.bio}}</p>
      </div>
    </div>

    {{ if .Site.Params.disqus.disqusShortname }}
      {{ partial "disqus-comments.html" . }}
    {{ end }}

  </article>
  
</div>
<!-- end post -->

{{ else }}

{{ if .Params.image }}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="page-image">
        <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- begin page -->
<div class="container animate">

  <div class="page__info">
    <h1 class="page__title">{{ .Title }}</h1>
  </div>

  <article class="page">
    <div class="page__content">
      {{ .Content }}
    </div>
  </article>

</div>
<!-- end page -->

{{ end }}

{{ end }}