<!-- begin footer -->
<footer class="footer">

  <div class="footer__inner">
    <div class="container">
      <div class="row">
        {{ partial "footer-widgets/widget-info.html" . }}
        {{ partial "footer-widgets/widget-sitelinks.html" . }}
        {{ partial "footer-widgets/widget-tags.html" . }}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer__info">
          <div class="copyright">{{ dateFormat "2006" now }} &copy; <a href="/">{{ .Site.Title }}</a>. Published with <a href="https://gohugo.io/">Hugo</a>.</div>
          <div class="toggle-theme">
            <div class="toggle-moon"><i class="ion ion-ios-moon"></i></div>
            <div class="toggle-sun"><i class="ion ion-ios-sunny"></i></div>
            <div class="toggle-thumb"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>
<!-- end footer -->