{{ define "main" }}

{{ partial "hero.html" . }}

<div class="container">
  <div class="row animate">

    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "blog") }}
    {{ range $paginator.Pages }}
      {{ partial "article-content.html" . }}
    {{ end }}

  </div>
</div>

</main>

{{ partial "pagination.html" . }}

{{ end }}